*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}

/* variables */
:root {
    --clr-light-cyan: #1EC1BC;
    --clr-light-white: #EDEFFB;
    --clr-dark-black: #020202;
    --clr-dark-blue: #276484;
    --clr-dark-purple: #3E175A;
}

/* general styles */
html {
    scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: white;
}

img {
    display: block;
}

hr {
    border: none;
    height: 5px;
    background-color: #CACCD6;
    width: 80px;
    margin: 3px auto 40px;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #676767;
}

button {
    cursor: pointer;
}

.container {
    margin: auto;
    padding: 0 15px;
}

.section-title {
    font-size: 1.25em;
    font-weight: 900;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-dark-blue);
    text-transform: uppercase;
    font-family: 'Biko', sans-serif;
}


/* Header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 30px 0 0;
    z-index: 99;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.otimize-logo {
    margin-left: auto;
    margin-right: 10px;
}

.menu-main {
    display: none;
}

.menu-list {
    list-style: none;
    max-width: 650px;
}

.menu-list li {
    display: inline-block;
    font-size: 16px;
    padding: 10px 5px;
    margin-right: 25px;
    font-weight: 500;
}

.menu-list li a {
    color: #F5F5F5;
}

.menu-list li a:hover {
    color: #afafaf;
    transition-duration: .5s;
}

.menu-logo {
    max-width: 235px;
    width: 100%;
    height: 100%;
}

#button-wpp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: transparent url(https://d335luupugsy2.cloudfront.net/cms/files/1446/1588875979/$5u0ndp8vgxo) center center no-repeat;
    z-index: 1000;
    width: 65px;
    height: 65px;
    background-size: 65px 65px;
    cursor: pointer;
}

#button-wpp a {
    color: transparent;
}

.header_navBarHamburguer ul li,
.header_navBarHamburguer ul a {
    text-decoration: none;
    color: #efefef;
}

.header_navBarHamburguer {
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
    background-color: #fff;
    padding: 0 15px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s ease-in;
    max-height: 260px;
    display: none;
    margin-top: 30px;
}


.header_navBarHamburguer ul li,
.header_navBarHamburguer ul a {
    color: var(--clr-dark-blue);
    font-weight: bold;
}

.header_navBarHamburguer ul a {
    display: block;
    width: 100%;
}

.header_navBarHamburguer ul li {
    list-style: none;
    padding: 10px 5px;
    border-top: 1px solid #e1e1e1;
    cursor: pointer;
}

.header_navBarHamburguer ul button {
    color: var(--clr-dark-blue);
    font-weight: bold;
    background: none;
    border: none;
    font-size: 1rem;
}


.btn {
    width: 40px;
    cursor: pointer;
    margin-left: auto;
}

.btn span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 3px;
    background: #fff;
    transition: all .3s;
    position: relative;
}

.btn span+span {
    margin-top: 7px;
}



.active_btn span:nth-child(1) {
    animation: ease .3s top forwards;
}

.not_active_btn span:nth-child(1) {
    animation: ease .3s top-2 forwards;
}

.active_btn span:nth-child(2) {
    animation: ease .3s scaled forwards;
    margin-top: 30px;
}

.not_active span:nth-child(2) {
    animation: ease .3s scaled-2 forwards;
}

.active_btn span:nth-child(3) {
    animation: ease .3s bottom forwards;
}

.not_active span:nth-child(3) {
    animation: ease .3s bottom-2 forwards;
}



@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 22px;
        transform: rotate(0);
    }

    100% {
        top: 22px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 22px;
        transform: rotate(45deg);
    }

    50% {
        top: 22px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 22px;
        transform: rotate(0);
    }

    100% {
        bottom: 22px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 22px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 22px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


/* Hero */
.hero {
    background: no-repeat center url(../img/imagem-principal-mobile.jpg);
    height: 550px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.95);
    background-blend-mode: color;
    background-position-y: initial;
    overflow: hidden;
}

section.hero .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-container {
    padding-top: 100px;
}

.hero-container .hero-button {
    margin: 20px auto;
}

.hero-title {
    font-size: 1.9rem;
    font-weight: 900;
    color: #F5F5F5;
    text-shadow: 4px 0px 7px #000000;
}

.hero-title-2 {
    font-size: 1rem;
    color: #F5F5F5;
    margin: 45px 5px 0;
    font-weight: 400;
    text-shadow: 4px 4px 7px #000000;
}

.hero-button {
    background-color: var(--clr-dark-purple);
    padding: 8px 22px 8px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 3px solid #fff;
    display: flex !important;
    align-items: center;
    /* max-width: 95%;
    width: 100%; */
    justify-content: center;
    column-gap: 15px;
    margin: 0 auto;
}

.hero-button a {
    margin-left: auto;
}

.hero-button:hover {
    background-color: #340f4f;
    transition-duration: .1s;
    transform: scale(1.12) !important;
}

.hero-button:active {
    background-color: #230b34;
}


.icon {
    display: inline-block;
    background-image: url("../img/Icon\ ionic-md-send.png");
    background-size: 100%;
    width: 21px;
    height: 23px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-top: 5px;
}

/* Finance Problems */

.business-problems {
    background-color: var(--clr-light-white);
    padding-top: 30px;
    overflow-x: hidden
}

.business-problems .section-title span {
    color: var(--clr-dark-purple);
}

section.business-problems .container {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    column-gap: 70px;
    flex-wrap: wrap;
}

#nossas-solucoes .container {
    padding-top: 15px;
}

.business-problems-image {
    max-width: 22rem;
    margin-top: 33px;
}

.business-problems-image img {
    width: 100%;
    height: 100%;
}

.business-problems-title {
    margin: 0 auto;
    max-width: 247px;
}

.business-problems-title h2 {
    text-transform: uppercase;
    color: var(--clr-dark-blue);
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.business-problems-details {
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
}

.business-problems-details div {
    display: flex;
}

.business-problems-details p {
    /* max-width: 725px; */
    color: var(--clr-dark-blue);
    font-weight: 600;
    margin-bottom: 25px;
    width: 100%;
}


.business-problems-details span,
#service-and-sales span,
#processes-and-structuring span {
    content: ' ';
    background-image: url(../img/Layer_8_copy_4_1_.png);
    width: 35px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 10px;
    margin-right: 25px;
}

#processes-and-structuring {
    background: rgb(33, 12, 47);
    background: linear-gradient(180deg, rgb(52, 19, 74) 0%, rgba(62, 23, 90, 1) 35%, rgb(79, 29, 115) 100%);
}


#processes-and-structuring span,
#service-and-sales span {
    background-image: url(../img/arrow-white.jpg);
    transform: scale(1.2);
}

#processes-and-structuring p,
#processes-and-structuring h2,
#service-and-sales p,
#service-and-sales h2 {
    color: #F5F5F5;
}

#service-and-sales {
    background: rgb(28, 73, 97);
    background: linear-gradient(0deg, rgba(28, 73, 97, 1) 0%, rgba(39, 100, 132, 1) 35%, rgba(48, 130, 172, 1) 100%);
}


/* our-team */

.our-team {
    background-color: var(--clr-light-white);
}

section.our-team .container {
    padding: 65px 15px 80px;
}

.our-team .section-title span {
    color: var(--clr-dark-purple);
}

.details-team {
    margin-top: 85px;
}

.video-team {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-team video {
    background-color: black;
}

.video-team video,
.video-team iframe,
.video-team object,
.video-team embed {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-team video[poster] {
    object-fit: cover;
}

.title-team {
    color: var(--clr-dark-blue);
    font-size: 1.6rem;
    font-weight: 799;
    margin: 40px 0 50px;
}



.text-team .icon {
    width: 18px;
    height: 21px;
}

.text-team-card {
    display: flex;
    column-gap: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E5E7F3;
    margin-top: 10px;
}

.text-team-card-img {
    max-width: 130px;
    width: 100%;
    min-width: 40%;
}

.text-team-card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-team-card p {
    line-height: 1.7rem;
    color: var(--clr-dark-purple);
    font-weight: bold;
    font-size: 1rem;
}

.text-team-card span {
    color: var(--clr-dark-blue);
}


.details-team-paragraph p {
    color: var(--clr-dark-blue);
    font-weight: 500;
}

.details-team-paragraph p:first-child {
    margin: 10px 0 20px;
}

.our-team .hero-button {
    box-shadow: 2px 2px 18px 0px rgba(117, 117, 117, 0.649);
    margin: 40px auto 0;
    display: block;
}


/* types-of-company */
.types-of-company-img {
    max-width: 700px;
    margin: 0 auto;
}

.types-of-company-img img {
    width: 100%;
    height: 100%;
}

.types-of-company {
    background: rgb(33, 12, 47);
    background: linear-gradient(180deg, rgb(52, 19, 74) 0%, rgba(62, 23, 90, 1) 35%, rgb(79, 29, 115) 100%);
}

.types-of-company .container {
    padding: 45px 15px 50px;
}

.types-of-company .section-title {
    color: #F5F5F5;
}

.types-of-company .section-title span {
    color: #1EC1BB;
}


/* improvement-company */

.improvement-company {
    background: rgb(26, 68, 91);
    background: linear-gradient(0deg, rgb(24, 61, 84) 0%, rgb(33, 85, 112) 35%, rgb(41, 112, 148) 100%);
}

.improvement-company .container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.improvement-company .section-title {
    color: #F5F5F5;
}

.improvement-company .section-title::first-letter {
    font-size: 3rem;
}

.improvement-company .section-title span {
    color: #1EC1BB;
}

.improvement-company hr {
    background-color: #1EC1BB;
}

.improvement-company-container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 55px;
}

.improvement-company-cards {
    max-width: 405px;
    margin-top: 9%;
}


.improvement-company-cards>div {
    border-radius: 15px;
    border: 5px solid #1EC1BB;
    padding: 30px 15px 25px;
    height: 100%;
}

.improvement-company-cards .number {
    border-radius: 50%;
    width: 78px;
    height: 75px;
    color: rgba(39, 100, 132, 1);
    background-color: var(--clr-light-white);
    display: block;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 auto;
    position: relative;
    bottom: 5.5rem;
}

.improvement-company-cards .number-container {
    height: 0;
}

.improvement-company-cards .cards-description h3 {
    text-align: center;
    color: #F5F5F5;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
}

.improvement-company-cards .cards-description p {
    text-align: center;
    color: #F5F5F5;
    font-weight: 500;
}

.improvement-company-cards .card-description-img {
    margin: 30px auto;
    width: 100px;
}

.improvement-company-cards .card-description-img img {
    width: 100%;
    height: 100%;
}

/* management-model-img */

.management-model-img {
    margin: 0 auto;
}

.management-model-img img {
    width: 100%;
    height: 100%;
}

.management-model {
    background-color: var(--clr-light-white);
}

.management-model .container {
    padding: 45px 15px 110px;
}

.management-model .section-title {
    color: var(--clr-dark-blue);
}

.management-model .section-title span {
    color: var(--clr-dark-purple);
}

.management-model hr {
    background-color: #240a3696;
}



/* our-clients */
.our-clients {
    background-color: var(--clr-light-white);
}

.item img {
    margin: 0 auto;
}


.our-clients .container {
    padding: 30px 15px 80px
}

.our-clients .section-title {
    color: var(--clr-dark-blue);
}

.our-clients .section-title span {
    color: var(--clr-dark-purple);
}

.our-clients .container hr {
    margin-bottom: 60px;
}

.our-clients .hero-button {
    margin: 60px auto 5px;
}

.container-clients {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    row-gap: 65px;
}

.container-clients .item {
    max-width: 155px;
    margin: 0 auto;
}

.container-clients .item img {
    width: 100%;
    height: 100%;
    max-height: 130px;
    filter: grayscale(105%);
}


#doce-amarelo-img,
#acessorium-img,
#faccao-excelencia-img,
#inline-img {
    filter: grayscale(105%) contrast(0.5);
    max-width: 200px;
    margin-top: 20px;
}

.container-clients .item img:hover,
#doce-amarelo-img:hover,
#acessorium-img:hover {
    width: 100%;
    max-height: 130px;
    filter: none !important;
    transition-duration: .5s;
}



/* depositions */
.depositions {
    background: rgb(33, 12, 47);
    background: linear-gradient(180deg, rgb(52, 19, 74) 0%, rgba(62, 23, 90, 1) 35%, #4c1772 100%);
}

.depositions .container {
    padding: 50px 15px 60px;
}

.depositions .section-title {
    color: #F5F5F5;
}

.depositions .section-title span {
    color: #1EC1BB;
}

.depositions .owl-theme .owl-nav [class*=owl-] {
    background-color: transparent;
}

.arrow-button-rigth {
    background-image: url(../img/right-arrow.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: block;
}

.arrow-button-left {
    background-image: url(../img/left-arrow.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    display: block;
}

.items.comentarios-detalhes {
    background-color: white;
    padding-bottom: 20px;
    padding: 15px 20px 10px;
    margin: 0 15px;
    min-height: 420px;
}


.comentarios-detalhes p {
    text-align: center;
    font-size: 1rem;
    line-height: 2.2rem;
}

.paragraph-author {
    padding: 20px 0 8px;
    font-size: 1.5rem;
    color: var(--clr-dark-blue);
    font-weight: bolder;
}

.aspas-img-1 {
    width: 25px;
    position: relative;
    left: 95%;
}

.aspas-img-1 img {
    height: 100%;
}

.aspas-img-2 {
    width: 25px;
    margin-left: 10px;
    margin-top: -5px;
}

.aspas-img-2 img {
    height: 100%;
}



/* otimize-in-media */
.otimize-in-media {
    background: rgb(26, 68, 91);
    background: linear-gradient(0deg, rgb(24, 61, 84) 0%, rgb(33, 85, 112) 35%, rgb(41, 112, 148) 100%);
}

.otimize-in-media .container {
    padding: 60px 0;
}

.otimize-in-media-container {
    margin: 58px auto 0;
    max-width: 800px;
}

.otimize-in-media .container h2 {
    color: #F5F5F5;
}

.otimize-in-media h2 span {
    color: #1EC1BB;
}

.otimize-in-media .container hr {
    background-color: #1EC1BB;
}

.otimize-in-media-details {
    background-color: white;
    width: 307px !important;
    height: 450px !important;
    margin: 5px auto;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 10%);
}

.otimize-in-media-details img {
    width: 100%;
    height: 170px
}

.otimize-in-media-details p {
    width: 300px;
    font-size: 0.83rem;
    padding: 5px 28px 30px;
    line-height: 1.35rem;
}

.title-article {
    color: var(--clr-dark-blue);
    font-size: 0.95rem;
    padding: 30px 28px 0;
}


.otimize-in-media-button {
    background-color: white;
    color: var(--clr-dark-blue);
    font-weight: bolder;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 25px;
    display: block;
}

.otimize-in-media-button a {
    color: var(--clr-dark-blue);
}

.otimize-in-media-button a:hover {
    text-decoration: underline;
}

.otimize-in-media-button::after {
    content: "\203A";
    font-size: 20px;
    margin-left: 3px;
}


.otimize-in-media .container .owl-theme .owl-dots .owl-dot.active span {
    background: var(--clr-light-white);
}

.otimize-in-media .container .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 5px;
    margin: 5px 7px;
    background: #f1f1f193;
    display: block;
    transition: opacity .2s ease;
    border-radius: 0;
}

.tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tags li,
.tags p {
    float: left;
    line-height: 24px;
    position: relative;
    font-size: 11px;
}

.tags li {
    height: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 314px;
}

.tags p {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #0082d3;
    color: #fff;
    text-decoration: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 35%;
    height: 25px;
    transform: rotate(40deg);
    margin-top: 32px;
}

.tags p:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0082d3 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags p:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}

.tags p:hover {
    background: #555;
}

.tags p:hover:before {
    border-color: transparent #555 transparent transparent;
}

/* materials-free */

.materials-free {
    background-color: var(--clr-light-white);
    padding: 40px 0 80px;
}

.materials-free .section-title {
    color: var(--clr-dark-purple);
}

.materials-free .section-title span {
    color: var(--clr-dark-blue);
}

.materials-details {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgb(172, 170, 172);
}

.materials-details p {
    font-size: .7rem;
}

.materials-img {
    max-width: 140px;
    width: 100%;
}

.materials-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}


.materials-title {
    color: var(--clr-dark-blue);
    font-weight: bold;
    font-size: .8rem;
}

.materials-text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.materials-button {
    background-color: transparent;
    display: block;
    margin: 15px auto 0;
}

.materials-button a {
    color: var(--clr-dark-purple);
    text-decoration: underline;
    font-weight: bold;
}

.materials-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 45px;
    row-gap: 60px;
}

/* our-consultancies */

.our-consultancies {
    background: rgb(33, 12, 47);
    background: linear-gradient(180deg, rgb(52, 19, 74) 0%, rgba(62, 23, 90, 1) 35%, rgb(79, 29, 115) 100%);
}

.our-consultancies .container {
    padding: 45px 15px 50px;
    max-width: 100%;
}

.our-consultancies .section-title {
    color: #F5F5F5;
}

.our-consultancies .section-title span {
    color: #1EC1BB;
}

.slider {
    height: 430px;
    margin: auto;
    display: grid;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    z-index: 0;
}

.slide-track {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(380px * 12);
    animation: scroll 30s linear infinite;
}

.slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
    perspective: 100px;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide-upper {
    display: flex;
    align-items: center;
}

.slide-upper img {
    width: 275px !important;
    height: 210px !important;
}

.slide-under {
    display: flex;
    align-items: center;
}

.slide-under img {
    width: 370px !important;
    height: 210px !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slide img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    border-radius: 7px;
    object-fit: cover;
    object-position: top;
}

.slider::after,
.slider::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 3%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

/* form leeds */
.form-leeds {
    padding: 40px 0 80px;
    background: no-repeat center url(../img/image-form-mobile.jpg);
    background-size: cover;
    background-color: #edeffbdb;
    background-blend-mode: lighten;
    background-position-y: initial;
    overflow: hidden;
}

.form-leeds .section-title {
    color: var(--clr-dark-blue);
}

.form-leeds .section-title span {
    color: var(--clr-dark-purple);
}

.form-fields {
    display: flex;
    flex-direction: column;
}

.form-fields input {
    border-radius: 5px;
    padding: 7px 8px;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(47, 47, 47, 0.139);
    margin: 5px 0 15px;
    font-size: 1rem;
}

.form {
    margin: auto;
    max-width: 700px;
}

.form-fields label {
    color: var(--clr-dark-blue);
    font-weight: 600;
    font-size: 1rem;
    text-shadow: -1px 0px 5px #ffffff;
}

.form-fields label span {
    text-transform: uppercase;
    color: var(--clr-dark-purple);
    font-weight: 700;
    text-shadow: none;
}


.form .hero-button {
    margin: 40px auto 0;
    color: #fff;
}

.accept-terms {
    color: var(--clr-dark-blue);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background: rgb(28, 73, 97);
    background: linear-gradient(0deg, rgba(28, 73, 97, 1) 0%, rgba(39, 100, 132, 1) 35%, rgb(41, 111, 146) 100%);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 720px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 23px;
    left: 12px;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h3,
.modal-content p {
    text-align: center;
    line-height: 1.5em !important;
    color: #ffffff;
}

.modal-content p {
    font-size: 1.9rem;
    line-height: 1.5em !important;
}

.modal-content span {
    color: var(--clr-dark-purple);
    font-weight: bold;
}

.modal-content h3 {
    margin-bottom: 25px;
    font-size: 2rem;
}

.logo-modal {
    max-width: 270px;
    margin: 10px auto 0;
}

.logo-modal img {
    width: 100%;
}

/* basebord */
footer.basebord {
    background: rgb(28, 73, 97);
    background: linear-gradient(0deg, rgba(28, 73, 97, 1) 0%, rgba(39, 100, 132, 1) 35%, rgb(41, 111, 146) 100%);
}

.info-basebord {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 42px 0px 62px;
}

.logo-basebord {
    display: block;
    width: 200px;
    height: 100%;
}

.social-medias-basebord {
    align-self: flex-start;
}

.social-medias-basebord a {
    display: inline-block;
}

.contactos-basebord {
    margin: 35px 0 20px;
}

.contactos-basebord-list {
    list-style: none;
    color: white;
    line-height: 1.7rem;
}

.contactos-basebord-list p,
.contactos-basebord-list p a {
    font-size: 0.85rem;
    font-family: Calibri, sans-serif;
    font-weight: 300;
    color: #F5F5F5;
}

.social-medias-title {
    margin: 3px 0 15px;
    color: white;
    font-size: 1.3rem;
}

.social-medias-logo {
    width: 40px;
    margin-right: 5px;
    height: 100%;
}

.contactos-basebord {
    margin: 35px 0 20px;
}

.contactos-basebord-container p {
    margin-left: 5px;
    line-height: 1rem;
}

.contactos-basebord-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contactos-basebord-container img,
.contactos-basebord-container svg {
    width: 14px;
    height: 100%;
    margin-right: 5px;
    color: #fff;
}

#image-city {
    width: 20px;
}

.copy {
    color: #F5F5F5;
    text-align: center;
    font-size: 1.08rem;
    font-weight: 550;
    padding-bottom: 32px;
}

.copy-symbol {
    font-size: 10px;
    position: relative;
    bottom: 4px;
    right: 10px;
}

#more {
    display: none;
}

#readButton {
    background-color: transparent;
    color: #004977;
    font-weight: bold;
}

@media (min-width: 576px) {
    p {
        font-size: 1.35rem;
        line-height: 2em;
    }

    .section-title {
        font-size: 2.1em;
        max-width: 1050px;
    }

    hr {
        width: 130px;
        margin: 10px auto 40px;
    }

    /* Header */
    .container {
        max-width: 540px;
    }

    .menu-logo {
        width: 235px;
    }

    /* Hero */

    .hero {
        background: no-repeat center url(../img/imagem-principal.jpg);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.94);
        background-blend-mode: color;
        background-position-y: initial;
    }

    .hero-title {
        font-size: 3.5rem;
    }

    .hero-title-2 {
        font-size: 1.7rem;
        font-size: 1.3rem;
        margin: 30px 0;
        line-height: 3rem;
    }

    .hero-button {
        padding: 13px 30px 15px;
        border-radius: 27px;
        font-weight: 700;
        font-size: 1rem;
        max-width: none;
        width: auto;
        margin: initial;
        justify-content: initial;
    }

    .hero-button a {
        margin-left: 0;
    }

    .hero {
        height: 870px;
    }

    .icon {
        margin-left: 10px;
    }

    .hero-container .hero-button {
        margin: 31px auto;
    }

    .hero-container {
        padding-top: 20px;
    }

    /* Button whatssapp */
    #button-wpp {
        right: 78px;
    }

    .improvement-company-cards .number {
        width: 95px;
        height: 90px;
        bottom: 6.4rem;
    }


    /* depositions */
    .items.comentarios-detalhes {
        padding: 30px 50px 20px;
        width: 100%;
        margin: auto;
    }

    .aspas-img-1 {
        width: 30px;
        left: 100%;
    }

    /* our-clients */
    .container-clients {
        grid-template-columns: repeat(2, 1fr);
    }

    /* materials-free */
    .materials-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    /* form-leeds */

    .form-leeds {
        background: no-repeat center url(../img/image-min.jpg);
        background-size: cover;
        background-color: #edeffbed;
        background-blend-mode: lighten;
        background-position-y: initial;
    }

    .comentarios-detalhes p {
        font-size: 1.22rem;
    }

    .text-team-card p {
        font-size: 1.4rem;
    }

    .text-team-card-img {
        min-width: auto;
    }
}

.aspas-img-2 {
    width: 30px;
    margin-left: 15px;
}

@media (min-width: 768px) {

    /* Header */
    .container {
        max-width: 720px;
    }

    .menu-main {
        display: block;
    }

    .menu-list {
        text-align: center;
    }

    header .container {
        justify-content: space-between;
    }

    .btn {
        display: none;
    }

    /* Hero */
    .hero-button {
        padding: 16px 38px 18px;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .hero-title {
        font-size: 4.5rem;
    }

    .hero-title-2 {
        font-size: 1.7rem;
    }

    /* our-team */
    section.our-team .container {
        padding: 65px 15px 50px;
    }

    /* types-of-company */
    .types-of-company-img img {
        max-width: min-content;
    }

    /* improvement-company */
    .improvement-company-container-cards {
        row-gap: 20px;
    }


    /* otimize-in-media */
    .otimize-in-media .container {
        padding: 60px 0 80px;
    }

    .otimize-in-media .container .owl-theme .owl-dots .owl-dot span {
        width: 42px;
        height: 8px;
        margin: 30px 7px 7px;
    }

    /* basebord */
    .contactos-basebord {
        margin: 0 0 0 80px;
    }
}

@media (min-width: 960px) {

    /* Header */
    .container {
        max-width: 960px;
    }

    .otimize-logo {
        margin-left: 0;
    }


    /* Finance Problems */

    .business-problems-title {
        margin: 0;
    }

    section.business-problems .container {
        flex-wrap: nowrap;
    }

    /* materials-free */
    .materials-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }


    /* basebord */
    .logo-basebord {
        width: 255px;
    }

    .contactos-basebord {
        margin: 0 0 0 140px;
    }

    .contactos-basebord-container {
        display: flex;
        align-items: center;
    }

    .contactos-basebord-container p {
        margin-left: 5px;
    }

    /* our-team */
    .iframe-team {
        border-radius: 10px;
    }

    .details-team {
        display: flex;
        margin-top: 85px;
    }

    .video-team {
        padding-bottom: 37.25%;
        margin: 0 auto;
        min-height: 460px;
    }

    .title-team {
        font-size: 2.3rem;
        font-weight: 799;
        margin-top: 0;
    }

    .text-team {
        width: 50%;
        margin-left: 40px;
    }

    .details-team>div {
        width: 50%;
    }

    .text-team .hero-button {
        margin-left: 0;
        font-size: 1.3em;
        border-radius: 18px;
        padding: 10px 33px 13px;
    }

    /* our-clients */
    .container-clients {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 95px;
    }

}


@media (min-width: 1200px) {

    /* Header */
    .container {
        max-width: 1140px;
    }

    /* our-team */

    .text-team-card {
        margin-top: 45px;
    }

    .text-team .hero-button {
        margin-left: 0;
        font-size: 1.3em;
        border-radius: 18px;
        padding: 10px 33px 13px;
    }

    .menu-list {
        max-width: none;
    }

    .container-clients {
        column-gap: 162px;
    }

    .container-clients .item {
        margin: 0;
    }

    #readButton {
        display: none;
    }

    #more {
        display: block;
    }

}

@media (min-width: 1400px) {

    /* Header */
    .container {
        max-width: 1340px;
    }

    .container-clients {
        column-gap: 228px;
    }

    .modal-content p {
        font-size: 1.3rem;
    }

}

@media (min-width: 1600px) {

    /* Header */
    .container {
        max-width: 1540px;
    }

    .container-clients {
        column-gap: 295px;
    }

    .improvement-company-container-cards {
        column-gap: 160px;
    }

}

@media (min-width: 1800px) {

    /* Header */
    .container {
        max-width: 1740px;
    }

    .materials-container {
        column-gap: 85px;
    }

    .container-clients {
        column-gap: 360px;
    }

}